.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  @include flexJustAlign(flex-start, center);
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
  padding: 2em;
  border-bottom: 2px solid $clr--main;
  box-shadow: 0 0 10px 10px black;
  background: rgba(30, 29, 30, 1);
  color: rgb(220, 220, 220);
  transition: 0.5s;

  a {
    h2 {
      font-size: clamp(1em, 4.5vw, 1.375em);
    }
    p {
      font-size: clamp(0.875em, 4vw, 1.25em);
    }
  }

  ul {
    @include flexJustAlign(center, center);
    flex-direction: column;
    list-style: none;

    li {
      display: inline-block;
      font-size: clamp(0.875em, 4vw, 1.125em);
      padding: 0.125em;
      margin-bottom: 1em;
    }
  }
}

.social__link--nav {
  border-radius: 50%;

  svg {
    font-size: clamp(1.25em, 3.5vw, 1.75em);
  }
}

.navbar--opened {
  transform: translateY(0);
}

.navbar--closed {
  transform: translateY(-100%);
}
