@import "./mixins";

.section--nicotine {
  min-height: 125vh;
  position: relative;
  background: rgb(30, 30, 30);
}

.nicotine__container--amount {
  color: rgb(220, 220, 220);
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nicotine--amount {
  padding: 2.5em;
  aspect-ratio: 3/1;
  border: 2px solid firebrick;
  margin: 1em;
  cursor: pointer;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px 2px firebrick;

  p {
    font-size: clamp(1.5em, 2.25vw, 2em);
  }
}

@media (max-width: 1050px) {
  .nicotine__container--amount {
    top: 150px;
    grid-template-columns: 1fr;
  }
}
