@import "./variables";

.search__form {
  position: relative;
  @include flexJustAlign(normal, center);

  input {
    font-size: clamp(0.875em, 3vw, 1.125em);
    padding: 0.25em 0.5em;
    border-radius: 35px;
    background-color: inherit;
    color: $clr--text;
  }

  input,
  input:focus {
    border: 2px solid $clr--main;
  }

  input:focus {
    outline: none;
  }

  button {
    font-size: 0.875em;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: inherit;
    cursor: pointer;
    border-radius: 25px;
    background-color: inherit;
    color: $clr--text;
  }

  button:hover {
    color: $clr--hover;
  }
}

.search__form--phone {
  display: none;
}

@media (max-width: 1450px) {
  .search__form--header {
    display: none;
  }
  .search__form--phone {
    display: block;
  }
}
