$clr--main: firebrick;
$clr--text: rgb(220, 220, 220);
$clr--hover: rgb(255, 255, 255);

$bg--facebook: #3b5998;
$bg--instagram: linear-gradient(
  45deg,
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);
$bg--whatsapp: #0b884e;

$font--logo: "Lilita One", cursive;

$gradient--card: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.9));
