.section--main {
  position: relative;
  z-index: 0;
  background-image: linear-gradient(rgba(30, 30, 30, 0.6), rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.6)), url("../images/backgrounds/msmoke33.jpeg");
  background-size: cover;
  color: rgb(220, 220, 220);
}

.main--middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 3em 1.25em;
}

@media (max-width: 1200px) {
  .main--middle {
    justify-content: center;
  }
}
.header,
.header--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--svg {
  display: block;
  max-width: 300px;
  height: 100px;
}

.header {
  width: 100%;
  padding: 1em;
  box-shadow: 0 2px 20px 2px black;
  color: rgb(220, 220, 220);
  background: rgb(30, 29, 30);
  position: relative;
  z-index: 3;
}

.logo {
  font-family: "Lilita One", cursive;
  font-size: clamp(1.75em, 10vw, 2.875em);
  color: firebrick;
}

.header--left,
.header--right {
  gap: 1em;
}

.header--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__button {
  color: rgb(220, 220, 220);
  scale: 1.1;
  background: inherit;
  border: 2px solid firebrick;
  border-radius: 50%;
  transition: 250ms;
  cursor: pointer;
}

.info__button:hover {
  box-shadow: 0px 0px 10px 1px firebrick;
  transform: translateY(-4px);
}

@media (max-width: 1450px) {
  .info__button {
    display: none;
  }
}
.search__form {
  position: relative;
  display: flex;
  justify-content: normal;
  align-items: center;
}
.search__form input {
  font-size: clamp(1em, 3vw, 1.125em);
  padding: 0.25em 0.75em;
  border-radius: 25px;
  background-color: inherit;
  color: rgb(220, 220, 220);
}
.search__form input,
.search__form input:focus {
  border: 2px solid firebrick;
}
.search__form input:focus {
  outline: none;
}
.search__form button {
  font-size: 0.875em;
  position: absolute;
  right: 0.375rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 25px;
  background-color: inherit;
  color: rgb(220, 220, 220);
}
.search__form button:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 1450px) {
  .search__form--header {
    display: none;
  }
}
.categories {
  font-size: clamp(0.45rem, 2.25vw, 1rem);
  position: relative;
  display: grid;
  align-self: flex-end;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 3em;
  background: rgb(25, 25, 25);
}

.categories::before,
.categories::after {
  content: "";
  position: absolute;
  inset: -0.125rem;
  background: linear-gradient(-135deg, rgb(80, 20, 20), firebrick);
  z-index: -1;
}

.categories::after {
  filter: blur(0.5rem);
}

.liquids--front,
.liquids--back {
  background-image: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.9)), url(../images/products/liquids.jpg);
}

.disposable--front,
.disposable--back {
  background-image: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.9)), url(../images/products/jednorazowki.jpg);
}

.sets--front,
.sets--back {
  background-image: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.9)), url(../images/products/zestawy.jpg);
}

.parts--front,
.parts--back {
  background-image: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.9)), url(../images/products/parts.jpg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  width: 25em;
  aspect-ratio: 1.8;
  box-shadow: 0 0 10px 3px black;
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;
}

.card--front,
.card--back {
  background-size: cover;
  padding: 1.5em 2em;
}
.card--front p,
.card--back p {
  text-align: center;
}
.card--front .card__heading,
.card--back .card__heading {
  color: rgb(200, 200, 200);
  font-size: 1.5em;
}
.card--front p:not(.card__heading),
.card--back p:not(.card__heading) {
  font-size: 1em;
}

.card:hover {
  transform: rotateX(180deg);
}

.card--front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.card--back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  transform: rotateX(180deg);
}

@media (max-width: 1200px) {
  .categories {
    grid-template-columns: 1fr;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
  padding: 1em;
  border-bottom: 2px solid firebrick;
  box-shadow: 0 0 10px 5px black;
  background: rgb(30, 29, 30);
  color: rgb(220, 220, 220);
  transition: 0.5s;
}
.navbar .logo--svg {
  font-size: clamp(1.75em, 10vw, 3.25em);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar a h2 {
  font-size: clamp(1em, 4.5vw, 1.625em);
}
.navbar a p {
  font-size: clamp(0.875em, 4vw, 1.5em);
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  font-size: clamp(0.875em, 4vw, 1.25em);
  padding: 0.125em;
  margin-bottom: 1em;
  cursor: pointer;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5em 0;
  margin-bottom: 1em;
}

.social__link--nav {
  border-radius: 50%;
}
.social__link--nav svg {
  font-size: clamp(1.25em, 3.5vw, 1.75em);
}

.navbar--opened {
  transform: translateY(0);
}

.navbar--closed {
  transform: translateY(-100%);
}

@media (max-width: 1200px) {
  .search__form input {
    display: none;
  }
  .search__form button {
    border: 2px solid firebrick;
    border-radius: 50%;
  }
}
.product__wrapper {
  display: grid;
  place-items: center;
  width: 80%;
  padding: 1em;
  border: 2px solid firebrick;
  box-shadow: 0 0 10px 1px firebrick;
  text-align: center;
}

.product__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
}

.image__container {
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid white;
}

.card__heading {
  font-size: clamp(0.5em, 4vw, 0.875em);
}

.product__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.price__container p {
  display: inline;
}

.price--integer {
  font-size: clamp(0.75em, 5vw, 1.25em);
}

.price--decimal {
  margin-right: 0.25em;
}

.price--decimal,
.currency {
  font-size: clamp(0.5em, 4vw, 1em);
}

.products__wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  gap: 1.5em;
  padding: 2em 1em;
  grid-template-columns: repeat(4, 1fr);
  background: rgb(30, 30, 30);
  color: rgb(220, 220, 220);
}

@media (max-width: 1200px) {
  .products__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .products__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .products__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.social-links__container,
.social-links__container--nav {
  gap: 1em;
}

.social-links__container,
.social-links__container--nav,
.phone a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links__container--nav .social__link {
  filter: grayscale(0);
}

.fa-icon {
  font-size: clamp(1em, 3vw, 1.5em);
  padding: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
  transition: 250ms;
}

.social__link {
  border-radius: 50%;
  transition: 300ms;
  filter: grayscale(1);
}

.social__link:hover {
  transform: translateY(-4px);
  filter: grayscale(0);
}

.facebook {
  background-color: #3b5998;
  box-shadow: 0 2px 10px 0px #3b5998;
}

.instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  box-shadow: 0 2px 10px 0px #cc2366;
}

.whatsapp {
  background-color: #0b884e;
  box-shadow: 0 2px 10px 0px #0b884e;
}

.fa-icon--phone {
  background: firebrick;
  box-shadow: 0 2px 10px 0px firebrick;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  position: relative;
}
.phone p {
  font-size: clamp(0.5em, 2.875vw, 1em);
}

.phone::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: firebrick;
  transition: 350ms;
}

.phone::after {
  right: 0;
  bottom: 0;
}

.phone:hover::after {
  width: 70%;
}

.phone:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 1450px) {
  .social-links__container,
.phone p {
    display: none;
  }
  .phone::after {
    height: 0;
  }
}
.section--specific-product {
  background-color: rgb(30, 30, 30);
  min-height: 100vh;
}

.specific-product__wrapper {
  background: rgb(30, 30, 30);
  color: rgb(220, 220, 220);
  border: 2px solid firebrick;
  box-shadow: 0 0 10px 1px firebrick;
  padding: 2em;
  width: 80%;
  aspect-ratio: 3/1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.specific-product__card {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 2em;
}

.specific-image__container {
  height: 100%;
  aspect-ratio: 1;
  border: 2px solid white;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  font-size: clamp(0.75em, 3vw, 1em);
}

.info__container * {
  margin-bottom: 1rem;
}
.info__container h3 {
  font-size: 1.25em;
}

.order__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.whatsapp__desc {
  font-size: 0.75em;
}

@media (max-width: 850px) {
  .specific-product__wrapper {
    transform: translateY(-10%), translateX(-50%);
  }
  .specific-product__card {
    flex-direction: column;
  }
  .product__info {
    align-items: center;
  }
  .info__container {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .section--specific-product {
    min-height: 150vh;
  }
}
.age-verify__page {
  display: grid;
  place-items: center;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  color: rgb(220, 220, 220);
}
.age-verify__page h1 {
  text-align: center;
  font-size: clamp(1.125em, 5vw, 2em);
  margin-bottom: 2rem;
}

.age-verify__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.age-verify__buttons button {
  font-size: clamp(0.875em, 4vw, 1.25em);
  font-weight: 600;
  padding: 0.5em;
  background: inherit;
  color: rgb(220, 220, 220);
  border: 3px solid firebrick;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.age-verify__buttons button:hover {
  background-color: firebrick;
}

:root {
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.section--main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.font--categories {
  font-family: "Permanent Marker", cursive;
}

.font--content {
  font-family: "Open Sans", sans-serif;
}

.text--bold {
  font-weight: 600;
}

.text--upper {
  text-transform: uppercase;
}

.element--show {
  -webkit-animation: show 500ms ease-in-out;
          animation: show 500ms ease-in-out;
  opacity: 1;
}

.element--hide {
  -webkit-animation: hide 500ms ease-in-out;
          animation: hide 500ms ease-in-out;
}/*# sourceMappingURL=styles.css.map */